@tailwind base;
@tailwind components;
@tailwind utilities;

.navlink {
  @apply relative py-4 px-3 bg-transparent text-sm font-Mallanna border-transparent border-t-2 hover:border-t-[#E20000] transition-all duration-1000 before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-top-left before:scale-y-0 before:bg-[#454545] before:bg-opacity-20 before:transition-all before:duration-700 before:content-[''] before:hover:scale-y-95  before:hover:bg-opacity-100;
}

/* @layer base{
  @font-face {
    font-family: "Steelfish", 'sans-serif';
    src: url('./dist/fonts/steelfish.ttf') format('truetype'),url('./dist/fonts/steelfish.woff') format('woff');
  }
  @font-face {
    font-family: "Steelfish", 'sans-serif';
    src: url('./dist/fonts/steelfish\ bd.ttf');
  }
  @font-face {
    font-family: "Steelfish Outline", 'sans-serif';
    src: url('./dist/fonts/steelfish\ outline.ttf'),
    url('./dist/fonts/steelfish\ outline.woff') format('woff');
  }
} */